<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <!-- Console — logs appear in Eclipse console live -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss} [%t] %-5level %c{1} - %msg%n"/>
        </Console>

        <!-- File — logs saved to logs/test-run.log -->
        <File name="File"
              fileName="logs/test-run.log"
              append="false">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>